In [34]:
cursos=["python","django","flask","c","c++","c#","java","php"]
curso =cursos[-4]
print(curso)

c++

In [35]:
sub =cursos[:]
print(sub)

['python', 'django', 'flask', 'c', 'c++', 'c#', 'java', 'php']

In [36]:
sub1 =cursos[1:7:2]
print(sub1)

['django', 'c', 'c#']

In [37]:
sub2 =cursos[::-1]
print(sub2)

['php', 'java', 'c#', 'c++', 'c', 'flask', 'django', 'python']

In [43]:
#Ordenar Lista
lista2 =[8.17,90,1,5,44,1.32]
print(lista2)
lista2.sort(reverse=True)
print(lista2)

[8.17, 90, 1, 5, 44, 1.32]
[90, 44, 8.17, 5, 1.32, 1]

In [44]:
#imprimir numero mayor
mayor = lista2[0]
print(mayor)

90

In [48]:
#imprimir numero menor
lista2.sort()
menor=lista2[0]
print(menor)

1

In [50]:
#numero menor con funcion min
menor=min(lista2)
print(menor)

1

In [51]:
#numero mayor con funcion max
mayor=max(lista2)
print(mayor)

90

In [53]:
#saber la longitud de la lista

longitud=len(lista2)
print(longitud)

6

In [54]:
#saber si un numero esta dentro de la lista 
resultado = 8 in lista2
print(resultado)

False

In [55]:
resultado = 8.17 in lista2
print(resultado)

True

In [59]:
#saber en que indice se encuentra
print(lista2)
indice =lista2.index(90)
print(indice)

[1, 1.32, 5, 8.17, 44, 90]
5

In [61]:
#cuantas veces se encuentra un numero 
lista3 =[8.17,90,1,5,44,1.32]

contador = lista3.count(5)
print(contador)

1

In [65]:
#MATRICES
fila_uno=[10,20]
fila_dos=[30,40]
matriz=[fila_uno,fila_dos]

primer_elemento= matriz[0][0]
print(primer_elemento)

10

In [66]:
#TUPLAS
#tupla =()
tupla=(1,2,3,4,5,6,7,8,9,0)
elemento=tupla[4]
print(elemento)

5

In [67]:
elemento2=tupla[-1]
print(elemento2)

0

In [68]:
elemento3=tupla[:9:2]
print(elemento3)

(1, 3, 5, 7, 9)

In [69]:
tupla2=(1,2,3,4,5,6,7,8,9,0)
tupla2[1] = 20
print(tupla2)

TypeError: 'tuple' object does not support item assignment

In [80]:
tupla3 = (1,2,3,4)
uno,dos,tres,cuatro =tupla3[0],tupla3[1],tupla3[2],tupla3[3]


print(uno)
print(dos)
print(tres)
print(cuatro)

1
2
3
4

In [84]:
tupla3 = (1,2,3,4,5,6)
uno,dos,*tres,cuatro =tupla3
print(tupla3)

(1, 2, 3, 4, 5, 6)